@import url('https://at.alicdn.com/t/font_2417766_wb4weagmcya.css');

.iconfont {
   font-size: 22px
}

.icon-map {
    margin-left: 2px;
}

.icon-radar {
    margin-left: 5px;
}

.icon-tp_radial {
    margin-left: 5px;
}

.icon-network1 {
    margin-left: 5px;
}
